pkgbase = libgpcl6
	pkgdesc = GhostPCL library for use with 86Box's PCL printing feature
	pkgver = 10.07.0
	pkgrel = 1
	url = https://www.ghostscript.com/
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = base-devel
	depends = freetype2
	depends = libxft
	depends = ghostscript
	provides = libgpcl6
	conflicts = libgpcl6-git
	source = https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs10070/ghostpdl-10.07.0.tar.gz
	sha256sums = 93dc72ee259374f0b576fb926bbe3648504020c75638c302bd144f94f1641ae2

pkgname = libgpcl6
